<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: rgb(157, 194, 194);
        }
        li {
            border: 1px solid black;
            width: 80%;
            margin-left: 10%;
            margin-top: 5px;
        }

        h2 {
            align-items: center;
            justify-content: center;
            display: flex;
        }
        
    </style>
</head>
<body>
    

    <h2>CSE & IT Department</h2>
 
<ol>
    <li><a href="https://drive.google.com/file/d/1debXZPk_WKOEo49LA5TzYqBGaNwtesNP/view?usp=sharing">A Guide to ERP</a></li>
   <li><a href="https://drive.google.com/file/d/1XfX-KdyPY2dKCA5nxsrpBmXK1aYWsolk/view?usp=sharing">Intruduction to artificial neural systems</a></li>
     <li><a href="https://drive.google.com/file/d/1Wega4pn_Wl4Cg_g7lvERqcrpAgczlY34/view?usp=sharing">Artificial Neural Networks</a></li>
    <li><a href="https://drive.google.com/file/d/1Wega4pn_Wl4Cg_g7lvERqcrpAgczlY34/view?usp=sharing">JAVA 60 minutes a day</a></li>
    <li><a href="https://drive.google.com/file/d/1XkH1wGqOn-5DTh5c4_BW0LBl1hPUF57a/view?usp=sharing">C++ for computer science and engineering</a></li>
    <li><a href="https://drive.google.com/file/d/1Hrgyj59uKRYiH0ZRadzkrt4SwDOV-U_a/view?usp=sharing">Computation</a></li>
    <li><a href="https://drive.google.com/file/d/17vkVEnIay-jxPXVVDmUylwWcFNaQFyuZ/view?usp=sharing"> MCQS In computer science</a></li>
    <li><a href="https://drive.google.com/file/d/1KZB8axQJew0j0HQLh8wBD3elXcJI7LIj/view?usp=sharing">Surveying the chalenges of softwear testing</a></li>
    <li><a href="https://drive.google.com/file/d/1KZB8axQJew0j0HQLh8wBD3elXcJI7LIj/view?usp=sharing">Solutions Manual</a></li>
    <li><a href="https://drive.google.com/file/d/1H5FGyRHmSobUD30yQoZcR2lBzVnEwlGd/view?usp=sharing">Intruduction to Algorithms</a></li>
    <li><a href="https://drive.google.com/file/d/1gwje28LQHunbPrKhb_bg82RPDJ9_efLB/view?usp=sharing">Digital design</a></li>
    <li><a href="https://drive.google.com/file/d/1EFDdo-YUphwp9cuJsFhiORQZwbAA0U6x/view?usp=shariSolution co</a></li>
    <li><a href="https://drive.google.com/file/d/1W3DLlzWmEqpblNP6FMSYJGxoD2phx0HX/view?usp=sharing">Neural Networks</a></li>
    <li><a href="https://drive.google.com/file/d/1zrRQ6U3GZKNoxD0B6PVtJ8sxElzu_ei-/view?usp=sharing">Compilers</a></li>
    <li><a href="https://drive.google.com/file/d/1p1oV49JdcPysLR4Zb5OwFNwRy31UhiTg/view?usp=sharing">UNIX Networs programing</a></li>
    <li><a href="https://drive.google.com/file/d/1fGI-r0o252X5tdIgZ5QD0MdaGSGtwcDT/view?usp=sharing">Programing Inerviews Exposed</a></li>
    <li><a href="https://drive.google.com/file/d/1wM6t_6mnGXQbEXFhD-39SIwRCfZcZfGE/view?usp=sharing">Operating systems concepts</a></li>
    <li><a href="https://drive.google.com/file/d/10OqFYVc5BqNC6fIwPNf9JT0TC_vQOJdG/view?usp=sharing">Modern Operating systems</a></li>
    <li><a href="https://drive.google.com/file/d/17-Kkw9FcOKWQuebHdORIonu653Ai7fl8/view?usp=sharing">The compleate refrence JAVA2</a></li>
   
</ol>
   
   
    <h2>Science and Humanities Department</h2>
  <ol>
<li><a href="https://drive.google.com/file/d/18GMB2YySNlOLoxr6YxqAIwpOCHpEA-Ab/view?usp=sharing">Higher Engineering Mathematics By Dr. B.S. Grewal by B.S Grewal</a></li>
<li><a href="https://drive.google.com/file/d/1dmcal5gLUfR__kldiSWwCBMWgX6C2SII/view?usp=sharing">CareerGym_Ebook_99_Career_Tips</a></li>
<li><a href="https://drive.google.com/file/d/1iMFVcZQHZNngexqouPrHeDjTHv-GAYoG/view?usp=sharing">Chemical Engineering Design - Principles, Practice and Economics of Plant and Process Design by Gavin Towler, Ray Sinnott</a></li>
<li><a href="https://drive.google.com/file/d/1OU-rRq9L1NMkgpZY2TuPxWMicJelo20X/view?usp=sharing">Higher Engineering Mathematics by John Bird.</a></li>
<li><a href="https://drive.google.com/file/d/1wpgpWCDyxln1vl_znuxnL7glWSKwvtxs/view?usp=sharing">student solutions manual for Mathema ... ing by K. F. Riley, M. P. Hobson</a> </li>
<li><a href="https://drive.google.com/file/d/1VTvzWE2vvWRhD7UGYNxgODcmNVi8lDCu/view?usp=sharing">concise-environmental-engineering.pdf</a></li>
<li><a href="https://drive.google.com/file/d/1KHh1Z3g29-VHeW5n7Y0ZUf3hgAXdOI_L/view?usp=sharing">differential-equations-for-engineers</a></li>
<li><a href="https://drive.google.com/file/d/1RtDSDlVLMg1yxUPpj7SNg8lU2eeXJDDA/view?usp=sharing">engineering-mathematics-youtube-workbook.</a></li>
 <li><a href="https://drive.google.com/file/d/1pGV22bNudR0sVv2A56acXOSaRuZ7-5t1/view?usp=sharing">essential-engineering-mathematics</a></li>
 <li><a href="https://drive.google.com/file/d/1UXM4vI14LSFRojyaTPt94Wj8MuG3LU9I/view?usp=sharing">foundation-of-physics-for-scientists-engineers</a></li>
 <li><a href="https://drive.google.com/file/d/1i2tOrr2Hn_JDzAZ4wiUdkb5NS624Nwmf/view?usp=sharing">gentle introduction of mathematics for computers</a></li>
<li><a href="https://drive.google.com/file/d/1Dk99tmuyClmFulWMCW1jjOanYUeUY0Sw/view?usp=sharing">mathematics-free-of-worries-at-the-university</a></li> 
 <li><a href="https://drive.google.com/file/d/1BYkmlK_cKodl6JBpA2GRH-qUCl1eniGd/view?usp=sharing">mathematics-fundamentals</a></li>
 <li><a href="https://drive.google.com/file/d/1o5DWxUW8Es6FDK4WGa8d0Z-3BNTOyXxf/view?usp=sharing">nuclear-powered-ships-and-submarines</a></li>
 <li><a href="https://drive.google.com/file/d/1j0wbcex17FU0jWWmFxxYOosdBJzHruzr/view?usp=sharing">applied-mathematics-by-example-exercises.</a></li>
<li><a href="https://drive.google.com/file/d/1j0wbcex17FU0jWWmFxxYOosdBJzHruzr/view?usp=sharing"> applied-mathematics-by-example-theory.</a></li>
 <li><a href="https://drive.google.com/file/d/1NxTdIh07ipgQUQog1UcFiPWoJrAwfi20/view?usp=sharing">chemistry-for-chemical-engineers</a></li>
 <li><a href="https://drive.google.com/open?id=15dlPqX9efnqHS42dJUVC6kIGB86xB_fH">Electrochemistry The Basics, With Examples. Christine Lefrou • Pierre Fabry • Jean-Claude
 Poignet</a></li>
 <li><a href="https://drive.google.com/file/d/1WsctBQcs8sZms9zJolLZ67c9tQvMn_lC/view?usp=sharing">Chemical Thermodynamics An Introduction. Erno˝ Keszei</a></li>
 <li><a href="https://drive.google.com/file/d/1yNuEvFJAdKkkf9zjtu12kfvzHx3klbdt/view?usp=sharing">Principles of Polymer Chemistry. A. Ravve</a></li>
 <li><a href="https://drive.google.com/file/d/1zsllaLp8aXfJtOksLYzcIDY_zHXAVyMc/view?usp=sharing">Applied Chemistry A Text Book for Engineering and Technologists. O.V. Roussak and H.D.
 Gesser</a></li>
 <li><a href="https://drive.google.com/file/d/1jOSUYkLtoKViaWMKi4RdADMPvxyOkHJs/view?usp=sharing">Air Pollution and Green House Gases. Zhongchao Tan</a></li>
  <li><a href="https://drive.google.com/file/d/1_nA7L0VxnEzeV6xjwwirfBIP-x0jSJYd/view?usp=sharing">Nano Technology: Principles and Practices. Sulabha K. Kalakarni</a></li>
 <li><a href="https://drive.google.com/file/d/178qrmdWaUxNU8rYx5xyLjoPyZfL7D6E4/view?usp=sharing">Polymer Chemistry. Sebastian Koltzenberg, Michael Maskos, Oskar Nuykan</a></li>
 <li><a href="https://drive.google.com/file/d/178qrmdWaUxNU8rYx5xyLjoPyZfL7D6E4/view?usp=sharing">Composite Materials. Krishan K. Chawla</a></li>
 <li><a href="https://drive.google.com/open?id=1WrpL8foRgew5WfqjqexVCy_2mfFqSldY">Elements of physics chemistry . By peter hatkins</a></li>
 <li><a href="https://drive.google.com/file/d/19zUHCwhqHge2d-93ZBOmRCxLnDKpjsfw/view?usp=sharing">E-Learning Material on Engineering Mathematics-I, State Council for Technical Education and
 Vocational Training, Odisha</a></li>
 <li><a href="https://drive.google.com/file/d/1RtDSDlVLMg1yxUPpj7SNg8lU2eeXJDDA/view?usp=sharing">Engineering Mathematics: YouTube Workbook. Christopher C. Tisdell</a></li>
 <li><a href="https://drive.google.com/open?id=1Bw98YEHrH6zs-GNPN1AExRVlnG3y5xU5">Higher Engineering Mathematics. John Bird</a></li>
 <li><a href="https://drive.google.com/open?id=1Bw98YEHrH6zs-GNPN1AExRVlnG3y5xU5">A History of Mathematics. FLORIAN CAJORI</a></li>
 <li><a href="https://drive.google.com/open?id=17Qr9PU-6AIvhz2GaQc3AHOosktYUedOE">Partial Differential Equations. Christopher C. Tisdell</a></li>
 <li><a href="https://drive.google.com/open?id=1-CtexxUsIkZi-OmJCeZDUK0bF-1_8oUY">Magnetism in Condensed Matter</a></li>
 <li><a href="https://drive.google.com/open?id=1B20cD3sDsHVJFBQoHohHAd15dkF0xgtd">Elements of X - Ray Diffraction. B.D. Cullity</a></li>
 <li><a href="https://drive.google.com/open?id=1qVZ3SyoKAfhtTCJlfZPOZoeOfPbbzHuD">Introduction to Quantum Mechanics. David J Griffiths</a></li>
 <li><a href="https://drive.google.com/open?id=1c5Tcb4r1yBBvfdyO-5vLgcdd7osRr-Oi">Semiconductor Physics and Devices. Donal A. Neamen</a></li>
 <li><a href="https://drive.google.com/open?id=1pJTFunkSKRL8Qyn9cVFu_4Z25BtnIAs4">University Physics Volume-1. Samuel J Ling, Jeff Sanny, William Moebs</a></li>
 <li><a href="https://drive.google.com/open?id=17pBKnX4gknL2702j0lgNR5KcRFwuAx7y">University Physics Volume-2, Samuel J Ling, Jeff Sanny, William Moebs</a></li>
 <li><a href="https://drive.google.com/open?id=1Q5v6fmQh4DXgz61hSGWWoQ_swrSb3Tz6">Integrative Human Biochemistry. Andrea T Da Poian, Miguel A R B Castanho</a></li>
 <li><a href="https://drive.google.com/open?id=1q84c3LIX2a5_J_T7lTudApxc04QtbkpJ">CELL BIOLOGY, GENETICS, MOLECULAR BIOLOGY, EVOLUTION AND ECOLOGY. P S
 Varma, V K Agarwal</a></li>
 <li><a href="https://drive.google.com/open?id=1bmmgpFbTrMqPHqJjQZpUFYqMq57A4lXC">Indian Constitution, P M Bakshiv</a></li>
 <li><a href="https://drive.google.com/open?id=19A2sR_lrdpeWLsWhT9eZshv72WIRoSbq">A Modern Approach to Verbal Reasoning. R S Agarwal</a></li>
 <li><a href="https://drive.google.com/open?id=1QrUN__JSZi4y_jgvz31hOOpMZrdlGxxD">Synonyms and Antonyms. Edith B Ordway</a></li>
 <li><a href="https://drive.google.com/open?id=1LJtL7i9PZ5rBoeB71kQeAUn_LAoJ2p_W">Effective Technical Communication. M Ashraf Rizvi</a></li>
 <li><a href="https://drive.google.com/open?id=1zkP9MPQn0OdBx6FcK9K7IiW63WtdPWHz">Practice Handbook in English. Easley S Jones</a></li>
<li><a href="https://drive.google.com/open?id=1xgK-akgbhT9Hs2jgEJmcsmNIM3Nx1g1f">Campbell Biology -Reece,Urray,Cain</a></li>
 <li><a href="https://drive.google.com/open?id=1neGwTSWD4i9NQOE7Dfl9GjdAnq_c9_ko">100 IDIOMS YOU MUST KNOW FOR SSC CGL</a></li>
 <li><a href="https://drive.google.com/open?id=1LuiV4xN5At-h8OOgAfiUopFjfEK-z8Yp">Industrial Psychology, Vikram Bisen & Priya</a></li>
</ol>
 <h2>CIVIL Department</h2>
<ol>
 <li><a href="https://drive.google.com/file/d/1sHBOLkGUTfaCp5kvuhflLbl2aelRmBwW/view?usp=sharing">InTech-Assessment_of_seismic_hazard_of_territory</a></li>
 <li><a href="https://drive.google.com/file/d/1086tlgb0lVMcfKLkOHM4LZUwBl_TX1jR/view?usp=sharing">A manual of underground surveying - Civil Engineering ( PDFDrive ).</a></li>
<li><a href="https://drive.google.com/file/d/1-frEYTdi-v0zimzU9QVaNaAcDdMyUw7_/view?usp=sharing">Civil Engineering_ Supervision and Management ( PDFDrive ).</a></li>
 <li><a href="https://drive.google.com/file/d/1lk9BvIMVWFWZ5Ars7OunI0B_GKWUAOVM/view?usp=sharing">Civil Engineer's Handbook of Professional Practice ( PDFDrive ).</a></li>
 <li><a href="https://drive.google.com/file/d/1binktXUK_2tyVKPqJgTmtQtJJA_t5mV-/view?usp=sharing">Civil Engineer's Reference Book, Fourth Edition ( PDFDrive ).</a></li>
 <li><a href="https://drive.google.com/file/d/1ayqDoVsL_fj8MZbtsdcAtQBiJX8yGyYM/view?usp=sharing">Construction Law_ An Introduction for Engineers, Architects, and Contractors ( PDFDrive ).</a></li>
 <li><a href="https://drive.google.com/file/d/1BNHg-Afp_8wHrfQfoZ484Kk4_yLsyyeU/view?usp=sharing">Correlations of Soil and Rock Properties in Geotechnical Engineering ( PDFDrive ).</a></li>
 <li><a href="https://drive.google.com/file/d/1D9N7urwlUcL8Cohmw7s8MAtk_0AGlLN3/view?usp=sharing">Dictionary of Building and Civil Engineering_ English, German, French, Dutch, Russian (
 PDFDrive ).</a></li>
 <li><a href="https://drive.google.com/file/d/1_jMoVOAZaW898FKSps8vr5qniO3uJAZb/view?usp=sharing">Distributed Hydrologic Modeling Using GIS ( PDFDrive ).</a></li>
 <li><a href="https://drive.google.com/file/d/1pmeeuwC2JNP_ZZ7qK_4IWBdToHZNp1nc/view?usp=sharing">Earth Pressure and Earth-Retaining Structures, Third Edition ( PDFDrive ).</a></li>
 
</ol>
</body>
</html>

