<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library management</title>
    <link rel="stylesheet" href="style.css" />
    <style>
        blockquote {
            border-left: 5px solid #ccc;
            padding-left: 10px;
            margin: 20px 0;
        }
    </style>
  </head>
  <body>
    <header>
      <div class="nav">
        <div>
          <img src="rec-icon.png" alt="jaysingh" />
        </div>
        <h1>Digital Library</h1>
        <div class="right">
          <ul>
            <li><a href="/register">Login</a></li>
            <li><a href="/seat"> Available Seat</a></li>
            <li><a href="/instruction">Instruction</a></li>
            <li><a href="/">Available Books</a></li>
            <li><a href="/E-book"> E-Books</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <div class="hero">
        <div id="hero"> 
          <h2>Philosophical Thoughts </h2>

          <blockquote>
              <p>“Books are the mirrors of the soul, reflecting the thoughts and ideas of the wise.”</p>
              <footer>- Chanakya</footer>
          </blockquote>
      
          <blockquote>
              <p>“Read, read, read. Read everything - trash, treasure and in between.”</p>
              <footer>- Ruskin Bond</footer>
          </blockquote>
      
          <blockquote>
              <p>“A library is a hospital for the mind, a dispensary of ideas.”</p>
              <footer>- A.P.J. Abdul Kalam</footer>
          </blockquote>

        </div>
        <img src="rec-hero.jpeg" alt="" />
      </div>
      <hr />

      <div class="section2">
        <marquee behavior="text" direction="left-right">
          Welcome to Digital Library Rajkiya Engineering College Sonbhadra.
        </marquee>
      </div>
      <h2>About Library</h2>

      <div class="Instruction">
        <li>Library Timing- 9:30am to 10:00pm</li>
        <li>Sunday library closing time- 5:00pm</li>
      </div>

      <div class="section3">
        <div class="box1 box">
          <div class="box-content">
            <p id="font">Let's C</p>
            <div
              class="box-img"
              style="background-image: url('image-1.jpeg')"
            ></div>
            <p>
              <a
                href="http://pdvpmtasgaon.edu.in/uploads/dptcomputer/Let%20us%20c%20-%20yashwantkanetkar.pdf"
                >Download</a
              >
            </p>
          </div>
        </div>

        <div class="box2 box">
          <div class="box-content">
            <p id="font">Machine Learning</p>
            <div class="box-img" style="background-image: url('ml.jpeg')"></div>
            <p>
              <a
                href="https://www.nrigroupindia.com/e-book/Introduction%20to%20Machine%20Learning%20with%20Python%20(%20PDFDrive.com%20)-min.pdf"
                >Download</a
              >
            </p>
          </div>
        </div>

        <div class="box3 box">
          <div class="box-content">
            <p id="font">Data Structure</p>
            <div
              class="box-img"
              style="background-image: url('cpp.jpeg')"
            ></div>
            <p>
              <a
                href="https://www.uoitc.edu.iq/images/documents/informatics-institute/Competitive_exam/DataStructures.pdf"
                >Download</a
              >
            </p>
          </div>
        </div>
        <div class="box4 box">
          <div class="box-content">
            <p id="font">Python</p>
            <div
              class="box-img"
              style="background-image: url('python.jpeg')"
            ></div>
            <p>
              <a
                href="https://cfm.ehu.es/ricardo/docs/python/Learning_Python.pdf"
                >Download</a
              >
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer">
        <p>
          © All rights reserved by Rajkiya Engineering College Churk, Sonbhadra
        </p>
      </div>
    </footer>
  </body>
  <script src="app.js"></script>
</html>
