<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Instructions</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial;
      }

      body {
        line-height: 1.6;
        background-color: #f4f4f9;
        color: #333;
      }
      .head {
        background-color: none;
        color: black;
        text-align: center;
        padding: 1rem 0;
      }
      main {
        width: 80%;
        margin: 2rem auto;
        padding: 2rem;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h2 {
        color: #004080;
        margin-bottom: 1rem;
        border-bottom: 2px solid #004080;
        padding-bottom: 0.5rem;
      }

      ol {
        margin-left: 2rem;
        line-height: 1.8;
      }

      li {
        margin-bottom: 0.5rem;
      }
      footer {
        text-align: center;
        color: black;
        padding: 1rem 0;
        bottom: 0;
        width: 100%;
      }

      footer p {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div class="head">
      <h1>Library Rules & Instructions</h1>
    </div>
    <main>
      <h2>Instructions for Library Use</h2>
      <ol>
        <li>Maintain silence in the library at all times.</li>
        <li>Switch off mobile phones or keep them on silent mode.</li>
        <li>Food and drinks are not allowed inside the library.</li>
        <li>Students must carry their library cards at all times.</li>
        <li>
          Books must be returned on or before the due date to avoid fines.
        </li>
        <li>Handle all library books and materials with care.</li>
        <li>Do not mark, write, or damage library books in any way.</li>
        <li>Ensure all borrowed items are properly issued and recorded.</li>
        <li>Respect other readers and cooperate with library staff.</li>
        <li>Use your laptop or tab only for educational purposes.</li>
      </ol>
    </main>
    <footer>
      <h3>&copy; 2024 Digital Library | Instructions</h3>
    </footer>
  </body>
</html>
